*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: deepskyblue;
}
.quotes{
    width: 50%;
    height: 450px;
    border: 10px solid #f4d1ae;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: gray;
    padding: 0 50px;
    background-color: white;
}
.quotes p,.quotes h3{
    font-size: 1.5rem;
}
@media(max-width:480px){
    .quotes p, .quotes h3{
        font-size: 1rem
    }
}